@import "../../sassStyles/_variables.scss";

.footer {
    background-color: $primaryColor;
    padding-top: 3rem;
    margin-top: 11rem;

    &_main {
        padding-bottom: 2rem;

        a {
            margin-bottom: 10px;
        }

    }

    .title {
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 1rem;
    }



    .row .row .col>.d-flex {
        margin-bottom: 10px;

        img {
            margin-right: 10px;
        }

        a {
            margin-bottom: 0;
        }
    }

    button,
    input {
        border-radius: 5px !important;

    }

    input {
        border: 1px solid #306EAB;
        margin-right: 12px;

        &,
        &::placeholder {
            color: #F3F3F3;
        }
    }

    .social {
        margin-top: 1.2rem;

        a {
            margin-right: 1rem;

            img {
                font-size: 16px;
            }
        }
    }

    &_foot {
        border-top: 2px solid #2464A3;
        padding: 15px 0;

        .col-md-7 {
            p:last-of-type {
                margin-left: 10px;
                border-left: 1px solid rgba(255, 255, 255, .4);
                padding-left: 10px;

                a {
                    margin-left: 10px;
                }
            }
        }

        .apps {
            img {
                width: 80px;
                margin-left: 15px;
            }
        }
    }
}