// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$textColor: #E2E6DC;
$textLight1Color: #FBF7ED;

// $primaryDark2Color: #002e25;
$primaryDark1Color: #004C3F;
$primaryColor: #0054A6;
$primaryLight1Color: rgba(#0054A6, .5);
// $primaryLight2Color: #EFFCFA;

$secondaryColor: #FFC20E;
// $secondaryLight1Color: #FBF7ED;
// $secondaryLight2Color: #FFF8F6;
// $secondaryLight3Color: #E2E6DC;
// $secondaryLight4Color: #EDE8DB;

// $warningColor: #C43256;
// $warningLight1Color: #c432571f;